.add-product {
  padding-top: 25px;
}

.add-product__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  font-family: @custom-font;
  color: @color-grey-500;
  position: relative;
  margin-bottom: 35px;
  margin-top: 0;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 20px;
    right: 0;
    width: 100vw;
    height: 2px;
    background: @color-green-500;
    transform: translateY(-50%);
    margin-top: 4px;
  }
}

.add-product__green-line {
  background-color: @white;
  padding-right: 22px;
}

.add-product__item {
  border-bottom: 1px solid @color-grey-400;

  &:first-child {
    border-top: 1px solid @color-grey-400;
  }
}

.add-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-grey-600;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 11px;
}

.add-product___description {
  display: flex;
  justify-content: space-between;
  font-family: @default-font;
  font-size: 14px;
  line-height: 14px;
}

.add-product__button {
  margin-bottom: 20px;
}

.add-product__gift {
  background-image: url("../img/background/gift-catalog-mobile.png");
  background-color: @color-green-500;
  background-repeat: no-repeat;
  min-height: 289px;
  background-size: cover;
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/gift-catalog-mobile@2x.png");
    background-size: contain;
  }

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    left: 101px;
    width: 78px;
    height: 80px;
    color: @white;
    background-image: url("../img/icon/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.add-product__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  font-family: @default-font;
  margin: 0 auto;
  width: 170px;
  padding-top: 187px;
}

@media (min-width: @tablet-width) {
  .add-product {
    padding-bottom: 41px;
    padding-top: 69px;
  }

  .add-product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 37px 8px 37px;
    border: 1px solid @color-grey-400;
    border-bottom: none;

    &:last-child {
      border-bottom: 1px solid @color-grey-400;
    }
  }

  .add-product__title {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
    margin-left: 0;
    margin-bottom: 80px;

    &::after {
      left: -30px;
    }
  }

  .add-product__green-line {
    background-color: #ffffff;
    padding-right: 22px;
    padding-left: 30px;
  }

  .add-product__item-title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .add-product___description {
    font-size: 16px;
    line-height: 20px;
  }

  .add-product__count {
    padding: 0;
    margin: 0;
    margin-right: 50px;
  }

  .add-product__price {
    padding: 0;
    margin: 0;
  }

  .add-product__button {
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    line-height: 0px;
    padding: 20px 0;
  }

  .add-product__gift {
    background-position: center;
    min-height: 200px;
    margin-top: 65px;
    background-image: url("../img/background/gift-catalog-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/gift-catalog-tablet@2x.png");
      background-size: contain;
    }

    &::before {
      left: 79px;
    }
  }

  .add-product__text {
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 423px;
    padding-top: 72px;
  }
}

@media (min-width: @desktop-width) {
  .add-product {
    padding-bottom: 86px;
    padding-top: 82px;
  }

  .add-product__container {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
  }

  .add-product__title {
    &::after {
      left: -110px;
    }
  }

  .add-product__list {
    padding: 0;
  }

  .add-product__item {
    padding: 0;
    border: none;
    border-bottom: 1px solid @color-grey-400;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  .add-product__item-title {
    margin-top: 10px;
    width: 245px;
  }

  .add-product___description {
    margin-top: 14px;
  }

  .add-product__count {
    text-align: left;
    width: 245px;
  }

  .add-product__price {
    text-align: right;
  }

  .add-product__gift {
    min-height: 289px;
    margin: 0;
    background-image: url("../img/background/gift-catalog-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/gift-catalog-desktop@2x.png");
      background-size: contain;
    }
  }

  .add-product__text {
    margin: 0;
    padding-top: 184px;
    text-align: center;
    margin-left: 45px;
  }

  .add-product__button {
    width: auto;
    margin: 0;
    padding: 20px 92px;
  }
}
