.add-product__title {
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.add-product__item {
  line-height: 14px;
  font-family: @default-font;
}

.add-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @color-grey-600;
}

.add-product__gift {
  background-image: url("../img/background/gift-catalog.png");
  background-repeat: no-repeat;
  min-height: 289px;
}

.add-product__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
}
