.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__item {
  margin-bottom: 35px;
}

.card__title {
  text-decoration: none;
  color: #222222;
  line-height: 20px;
}

.card__stats {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 15px;
}

.show-more__title {
  color: #111111;
}

.card__button-show-more {
  background-color: #F2F2F2;
  color: #444444;
  &:hover {
    background-color: #EBEBEB;
    color: #444444;
  }
  &:active {
    background-color: #EBEBEB;
    opacity: 0.3;
    color: #444444;
  }
}
