.catalog__item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px 60px;
  }

  .catalog__item {
    background-color: @color-grey-100;
    padding: 0 38px;
    position: relative;
    flex-direction: column;

    &::after {
      display: none;
    }

    &:last-child {
      background-color: @white;
      border: 2px solid @color-grey-100;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 143px 80px;
  }

  .catalog__item {
    background-color: @color-grey-100;
    padding: 0;

    &:last-child {
      background-color: @white;
    }
  }
}
