.checkbox {
  margin-bottom: 25px;
}

.checkbox__label {
  font-size: 16px;
  text-transform: uppercase;
  color: @black;
}

@media (min-width: @tablet-width) {
  .checkbox__label {
    font-size: 20px;
    line-height: 30px;
  }
}
