.footer-social {
  background-color: @color-grey-100;
  padding-top: 39px;
  padding-bottom: 22px;
}

.footer-social__container {
  display: flex;
  flex-direction: column;
}

.footer-social__logo {
  display: inline-block;
  margin-bottom: 28px;
  text-align: center;
}

.footer-social__list {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 45px 17px 63px;
  border-top: 1px solid @color-grey-350;
  border-bottom: 1px solid @color-grey-350;
}

.social__item {
  margin-right: 20px;
}

.social__link {
  position: relative;
  display: inline-block;
}

.social__icon {
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__icon-vk {
  width: 23px;
  height: 22px;
}

.social__icon-instagram {
  width: 16px;
  height: 16px;
}

.social__link-fb {
  width: 22px;
  height: 22px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  color: @color-grey-300;
  padding-top: 22px;
}

.copyright__text {
  line-height: 18px;
  font-size: 16px;
  font-family: @default-font;
  padding-top: 7px;
}

@media (min-width: @tablet-width) {
  .footer-social {
    padding-top: 60px;
  }

  .footer-social__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .footer-social__list {
    border: none;
    padding: 0;
  }

  .social__link {
    margin-left: 25px;

    &::after {
      width: 30px;
      height: 32px;
      background-size: contain;
    }
  }

  .copyright__link {
    padding-top: 0;
  }

  .social__icon-vk {
    width: 30px;
    height: 22px;
  }

  .social__icon-instagram {
    width: 23px;
    height: 23px;
  }

  .social__link-fb {
    width: 28px;
    height: 33px;
  }
}

