.form__description {
  text-transform: uppercase;
  color: @black;
}

.form__group {
  border: none;
}

.form__group--title {
  font-size: 24px;
  line-height: 26px;
  color: @black;
  margin-bottom: 14px;
}

.form__required-fields {
  font-family: @default-font;
  line-height: 16px;
  text-align: center;
  color: @black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
