.live-example {
  background-color: #eaeaea;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  padding-top: 27px;
  margin: 0;
}

.live-example__description {
  font-size: 14px;
  line-height: 18px;
}

.live-example-stats__list {
  list-style: none;
}

.live-example-stats__number {
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.live-example-stats__description {
  font-size: 12px;
  line-height: 12px;
}

.live-example-stats__total {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.comparison-button {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
