.live-example {
  background-color: @color-grey-150;
  padding-bottom: 36px;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin: 0;
  font-weight: 400;
  margin-bottom: 33px;
  padding-top: 27px;
}

.live-example-stats__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.live-example__description {
  font-family: @default-font;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.live-example-stats__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 19px;
}

.live-example-stats__number {
  font-size: 24px;
  line-height: 24px;
  color: @black;
  padding: 14px 15px 16px;
  border: 1px solid @color-grey-400;
  border-radius: 3px;
  align-items: center;
}

.live-example-stats__description {
  font-size: 12px;
  line-height: 12px;
  font-family: @default-font;
  background: @color-grey-150;
  color: @color-grey-300;
  margin-top: -9px;
  padding: 0 5px;
  align-self: center;
  width: 86px;
}

.live-example-stats__total {
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  margin-bottom: 42px;
}

@media (min-width: @tablet-width) {
  .live-example {
    background-image: linear-gradient(@white 0%, @white 54%, @color-grey-100 54%, @color-grey-100 100%);
    padding-bottom: 69px;
  }

  .live-example-stats {
    display: flex;
    justify-content: space-between;
  }

  .live-example__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-bottom: 64px;
    margin-top: 17px;
  }

  .live-example__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    padding-right: 6px;
  }

  .live-example-stats__item {
    padding: 0;
    border: 0;
  }

  .live-example-stats__list {
    gap: 42px;
  }

  .live-example-stats__number {
    font-size: 30px;
    line-height: 37px;
    padding: 14px 29px 19px;
  }

  .live-example-stats__description {
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
    margin-top: -9px;
    width: auto;
  }

  .live-example-stats__total {
    font-size: 20px;
    width: 192px;
    text-align: right;
    line-height: 20px;
  }

  .live-example-stats__sum {
    padding-top: 9px;
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .live-example {
    background-image: linear-gradient(@white 0%, @white 29%, @color-grey-100 25%, @color-grey-100 100%);
    padding-bottom: 33px;
  }

  .live-example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .live-example-stats {
    display: grid;
  }

  .live-example__title {
    margin-bottom: 147px;
    padding-top: 35px;
  }

  .live-example__description {
    width: 445px;
    margin-bottom: 68px;
    text-align: left;
  }

  .live-example-stats__list {
    margin-bottom: 49px;
  }

  .live-example-stats__description {
    background: @color-grey-100;
  }

  .live-example-stats__total {
    text-align: left;
    width: 100%;
    display: flex;
    margin-top: 6px;
  }

  .live-example-stats__sum {
    padding-top: 0;
    margin-left: 64px;
  }
}
