.main-nav {
  position: relative;
}

.main-nav__list {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 20px;
  cursor: pointer;
  border: none;
  background-color: @white;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: @black;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
}

.main-nav--opened .main-nav__toggle {
  top: -43px;
  right: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: @black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@black, 30%);
  }
}


@media (max-width: @mobile-width-only) {
  .main-nav--opened .site-list__item::after {
    content: "";
    position: absolute;
    right: -20px;
    left: -20px;
    width: 320px;
    top: 0;
    height: 1px;
    background: @color-grey-250;
    margin: 0 auto;
  }

  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav--closed {
    margin-left: 40px;
  }

  .main-nav__toggle {
    display: none;
  }
}
