.page-header__container {
  padding-top: 11px;
}

.page-header__catalog {
  border-bottom: 1px solid @color-grey-350;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  padding-bottom: 13px;
  padding-right: 5px;
}

@media (min-width: @tablet-width) {
  .page-header__container {
    padding-top: 0;
    display: flex;
  }

  .page-header__catalog {
    border: none;
  }

  .page-header__logo-image {
    padding-top: 24px;
    padding-bottom: 5px;
    margin-right: 72px;
    width: 179px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    padding-top: 28px;
  }

  .page-header__catalog {
    border: none;
    padding-top: 28px;
  }

  .page-header__logo-image {
    margin: 0;
    padding: 0;
    width: auto;
    margin-top: 25px;
  }

  .page-header--preview {
    position: relative;
  }

  .page-header--preview::after {
    content: "";
    position: absolute;
    min-height: 694px;
    width: 50%;
    background-image: url("../img/background/index-background-desktop.jpeg");
    background-repeat: no-repeat;
    background-position: center right;
    background-color: @color-green-700;
    z-index: -1;
    top: 0;
    left: 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/index-background-desktop@2x.jpeg");
      background-size: contain;
    }
  }
}
