.product-category {
  background-color: @color-grey-100;
  margin: 0;
  padding: 30px 33px 0 20px;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: @color-green-500;
    left: 22px;
    top: 24px;
    border-radius: 50%;
  }
}

.product-category--slim {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 36px;
    background-image: url("../img/icon/cat-slim.svg");
    background-repeat: no-repeat;
    left: 29px;
    top: 21px;
  }
}


.product-category--pro {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 67px;
    background-image: url("../img/icon/cat-pro.svg");
    background-repeat: no-repeat;
    left: 13px;
    top: 34px;
  }
}

.product-category__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @black;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 29px;
  margin-left: 71px;
}

.product-category__description {
  margin: 0;
  font-family: @default-font;
  padding-bottom: 22px;
  border-bottom: 1px solid @color-grey-350;
}

.product-category__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: @black;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 19px 0 22px 0;

  &::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 24px;
    background-image: url("../img/icon/arrow.svg");
    background-repeat: no-repeat;
    left: 100px;
    top: 21px;
  }
}


@media (min-width: @tablet-width) {
  .product-category {
    padding: 77px 0 35px 52px;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 200px;
      background-color: @color-green-500;
      right: 61px;
      top: 92px;
      left: auto;
      border-radius: 50%;
    }
  }

  .product-category__title {
    font-size: 36px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 25px;
    margin-left: 0;
  }

  .product-category__description {
    padding-right: 315px;
    margin: 0;
    font-family: @default-font;
    padding-bottom: 32px;
    border: none;
  }

  .product-category--slim {
    &::after {
      height: 194px;
      width: 140px;
      right: 92px;
      top: 80px;
      left: auto;
      background-size: contain;
    }
  }

  .product-category--pro {
    &::after {
      height: 112px;
      width: 268px;
      right: 28px;
      top: 135px;
      left: auto;
      background-size: contain;
    }
  }

  .product-category__link {
    font-size: 20px;
    line-height: 30px;
    padding: 19px 0 22px 0;

    &::before {
      left: 131px;
      top: 28px;
    }
  }
}

@media (min-width: @desktop-width) {
  .product-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  .product-category {
    &::before {
      height: 100px;
      width: 100px;
      left: 52px;
      top: 47px;
    }
  }

  .product-category--slim {
    &::after {
      height: 97px;
      width: 70px;
      left: 67px;
      top: 41px;
    }
  }

  .product-category--pro {
    position: relative;

    &::after {
      height: 56px;
      width: 134px;
      left: 33px;
      top: 67px;
    }
  }

  .product-category__title {
    text-align: center;
    padding: 0 30px 0 30px;
    margin-bottom: 74px;
  }

  .product-category__description {
    padding-right: 0;
    padding-bottom: 9px;
  }
}
