.radio {
  margin-bottom: 24px;
}

.radio__label {
  font-size: 16px;
  text-transform: uppercase;
  color: @color-grey-600;
  font-weight: 400;

  &:disabled {
    opacity: 0.3;
  }
}

.radio__control + label {
  position: relative;
  padding-left: 45px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 30px;
    height: 30px;
    border: 1px solid @color-grey-400;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.radio__control:hover + label::before {
  border-color: @color-grey-50;
}

.radio__control:focus + label::before {
  border-color: @color-grey-300;
}

.radio__control + label:disabled::before {
  opacity: 0.3;
}

.radio__control:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 14px;
  height: 14px;
  background-color: @color-green-500;
  border-radius: 50%;
}

.radio__control:checked:disabled + label::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .radio {
    margin-bottom: 22px;
  }

  .radio__label {
    font-size: 20px;
    line-height: 30px;
  }

  .radio__control + label {
    padding-left: 67px;

    &::before {
      width: 40px;
      height: 40px;
      left: 8px;
      top: -4px;
    }
  }

  .radio__control:checked + label::after {
    width: 18px;
    height: 18px;
    top: 7px;
    left: 18px;
  }
}

@media (min-width: @desktop-width) {
  .radio__control + label::before {
    left: 7px;
    top: -4px;
  }

  .radio__control:checked + label::after {
    top: 6px;
  }
}
