.steps__title {
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.step__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
