.text-field {
  position: relative;
  border: none;
  margin-bottom: 13px;
  display: flex;
  align-items: baseline;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-field__icon {
  position: absolute;
  top: 15px;
  right: 13px;

  &:active,
  &:focus {
    color: @color-green-500;
  }

  &:invalid {
    color: @color-red-300;
  }
}

.text-field__label {
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 10px;
}

.text-field__control {
  font-family: @custom-font;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid @color-grey-450;
  padding: 10px 15px;
  flex-grow: 1;
}

.text-field__control-textarea {
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
  padding-top: 5px;
  padding-left: 14px;
  padding-right: 0;
  padding-bottom: 95px;
  font-family: @custom-font;
  border: 1px solid @color-grey-450;
  margin-top: 18px;
  margin-bottom: 23px;
  resize: none;
}

.text-field__label--textarea {
  margin: 0;
}

.text-field__control:hover,
.text-field__control-textarea:hover {
  border: 1px solid @color-grey-400;
}

.text-field__control:focus,
.text-field__control-textarea:focus {
  border: 1px solid @color-grey-300;
  box-shadow: 0 0 0 1px @color-grey-300;
  outline: none;
}

.text-field__control:invalid,
.text-field__control-textarea:invalid {
  border: 2px solid @color-red-300;
  box-shadow: 0 0 0 1px @color-red-300;
}

::placeholder {
  color: @color-grey-300;
}

@media (min-width: @tablet-width) {
  .text-field {
    margin-bottom: 20px;
  }

  .text-field__icon {
    right: 13px;
    top: 17px;
  }

  .text-field__label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 20px;
  }

  .text-field__label--textarea {
    margin: 0;
  }

  .text-field__control {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 3px 10px 14px;
  }

  .text-field__control-textarea {
    font-size: 20px;
    line-height: 30px;
    margin-top: 13px;
    margin-bottom: 66px;
    padding: 9px 5px 103px 18px;
  }
}

@media (min-width: @desktop-width) {
  .text-field__label {
    margin-right: 20px;
  }

  .text-field__label--textarea {
    margin-right: 0;
  }

  .text-field__control-textarea {
    margin-top: 16px;
    padding: 9px 18px 102px;
    margin-bottom: 68px;
  }

  .text-field__control {
    padding: 10px 20px;
  }

  .text-field__icon {
    right: 17px;
    top: 18px;
  }
}
